<%= form_for @post do |f| %>
<% if @post.errors.any? %>
<ul>
  <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>


What is on your mind: <br /><%= f.text_field :content %><br />
<%= f.submit "SCREETCH!" %>
<% end %>


